html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
.header {
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__inner {
}
.logo__link {
}
.logo {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}